<a href="https://colab.research.google.com/github/Tomaszlek/Data_Science_kursy/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [6]:
s = pd.Series(data = [3, 1, 5, 2], dtype = np.uint)
print(s)

inne_indeksy = pd.Series(data = [3, 1, 5, 2], index = ['a', 'b', 'c', 'd'], name = 'Sample indeks', dtype = np.uint)
print(inne_indeksy)

0    3
1    1
2    5
3    2
dtype: uint64
a    3
b    1
c    5
d    2
Name: Sample indeks, dtype: uint64

Brakujace dane

In [13]:
nowa_tabela = pd.Series(data = np.arange(0, 100), index = pd.date_range(start='20240501', periods=100))
print(nowa_tabela)

lang = pd.Series(data = ['english', 'japanese', 'siuh'], name = 'Języki')
print(lang.index)

list(nowa_tabela)
type(lang)

print(lang.values)
print(lang.dtypes)

2024-05-01     0
2024-05-02     1
2024-05-03     2
2024-05-04     3
2024-05-05     4
              ..
2024-08-04    95
2024-08-05    96
2024-08-06    97
2024-08-07    98
2024-08-08    99
Freq: D, Length: 100, dtype: int64
RangeIndex(start=0, stop=3, step=1)
['english' 'japanese' 'siuh']
object

In [22]:
price = pd.Series(data = {'Apple': 200, 'CD Projekt': 160, 'JanuszKorp': 69})
print(price)

price['Apple']

price.count()
price.value_counts()

#funkcje statystyczne sa takie same jak w numpy

price.describe()
price.nlargest(2)
price.nsmallest(1)

price.rank(ascending=False)
price.sort_values()

price.apply(lambda x: x * 3.8)

Apple         200
CD Projekt    160
JanuszKorp     69
dtype: int64

JanuszKorp     69
CD Projekt    160
Apple         200
dtype: int64

# DataFrame

In [39]:
df = pd.DataFrame(data = [12, 12, 34])
df

gielda = pd.DataFrame(data = {'Wig 20': ['PKN Orlen', 'KGHM'],
                              'mWIG 40': ['Amica', 'Zelmer']})

gielda.columns
gielda.index

gielda.info()
gielda.describe()

print(gielda['Wig 20']) #pojedynczy nawias zwraca series, podwójny nawias zwraca DataFrame

gielda[['mWIG 40']]

gielda.columns = ['WIG 20', 'WIG 50']
gielda

#do wycinania metody loc i iloc, iloc podajemy indeksy zamiast nazw

gielda.loc[0, 'WIG 20']

gielda.iloc[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Wig 20   2 non-null      object
 1   mWIG 40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes
0    PKN Orlen
1         KGHM
Name: Wig 20, dtype: object

WIG 20    PKN Orlen
WIG 50        Amica
Name: 0, dtype: object